
.CommentWrapper {
    margin-top: 25px;
    padding: 2rem;
    background-color: #ffffff;
    border: solid 1px #8ee2fc;
    border-radius: 5px;
  }

  .CommentForm {
    width: 100%;
  }

        .Comment-Input {
          display: flex;
          align-items: center;
          outline: none;
          background: white;
          border: 3px solid #324863;
          border-radius: 20px;
          color: black;
        }
        
        .Comment-Input img{
          padding-left: 10px;
          filter: invert(98%) sepia(4%) saturate(1091%) hue-rotate(342deg) brightness(103%) contrast(94%);
        
        }
        
        .Input-field {
          flex: 1;
          margin: 5px;
          background: none;
          border: none;
          color: black;
        }
        
        .Input-field::placeholder {
          color: black;
        }
        
        .Input-field:focus {
          outline: none;
        }
        
.Comment{
  margin-top: 25px;
  margin-bottom: 25px;
}
      
.Comment:hover{
  border: dashed 3px #8ee2fc;
}
      .Comment-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
      }     
            .Comment .User-info{
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            .Comment-header p{
              padding: 10px;
              padding-left: 0px;
              font-weight: bold;
              color: #324863;  /* Dark Gray */
            }

            .Comment img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 10px;
            }
          
            .Comment .Comment-Icons {
              display: flex;
              align-items: center;
              cursor: pointer;
            }

      .Comment-content p{
        padding: 0px;
        padding-left: 15px;
        margin: 0px;
        padding-bottom: 5px;
      }
          
      .Comment-btn{
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #324863;
        font-weight: bold;
      }

      .Comment-btn:hover{
        background-color: #f48fb1;
      }