@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Inclusive+Sans&display=swap');

* {
  font-family: 'figtree';
}

body {
  background-color: #f9f9f9;
}

.MainContent {
  background-color: #e3f2fd; /* Very Light Blue */
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.MainContent img{
  width: 400px;
}
.Wrapper {
  color: #324863; /* Dark Gray */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.Wrapper h1 {
  color: #26ccff; /* Light Blue */
  margin: 0px;
  margin-top: 20px;
  padding: 0;
  text-align: center;
}

.Wrapper h2 {
  color: #26ccff; /* Light Blue */
  margin: 0px;
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px #26ccff;
}

.Wrapper p {
  text-align: left;
  color: #324863; /* Dark Gray */
  padding: 20px;
}
.signin-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}
.toggleButton{
  margin: 25px;
  background-color: transparent;
  color: #324863;
}

.toggleButton:hover{
  text-decoration: underline;
}

button:hover{
  background-color: #f48fb1;
}

a:hover{
  color: #f48fb1;
}